 /* box1の色を青色に変更 */
/* .box1{
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
} */



/* 表示されている要素をjQueryで非表示にする
.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
} */

/* jQueryで「マウスオーバー」イベントを設定する */
.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}